# Week 3 Assignment 4
##### Georgia  - Team 5

#### The dataset, collected by Davis et al in the 1930s, shows a simple 2-node network:  the attendance of 18 Southern Women at 14 social events. The result is a person-by-event matrix: cell (i,j) is 1 if person i attended social event j, and 0 otherwise. http://vlado.fmf.uni-lj.si/pub/networks/data/ucinet/ucidata.htm#davis

#### Goal: Make inferences about the relationships between (1) the women, and (2) the social events.

### Import data from url and rearrange it to look like a matrix

In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
import networkx.algorithms.bipartite as bipartite
%matplotlib inline

In [217]:
rows = pd.read_table("http://vlado.fmf.uni-lj.si/pub/networks/data/Ucinet/davis.dat", skiprows= 3, skipfooter = 34, header = 0)

C:\Users\Georgia\Anaconda2\envs\gl-env\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skip_footer; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [218]:
columns = pd.read_table("http://vlado.fmf.uni-lj.si/pub/networks/data/Ucinet/davis.dat", skiprows= 22, skipfooter = 19, header = 0)
newcolumns = columns.T

C:\Users\Georgia\Anaconda2\envs\gl-env\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skip_footer; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [219]:
data = pd.read_table("http://vlado.fmf.uni-lj.si/pub/networks/data/Ucinet/davis.dat", skiprows=38,
                     names = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13"], delim_whitespace = True)
data.columns = newcolumns.iloc[0]
data.index = rows
data

COLUMN LABELS:  E1  E2  E3  E4  E5  E6  E7  E8  E9  E10  E11  E12  E13  E14
(EVELYN,)        1   1   1   1   1   1   0   1   1    0    0    0    0    0
(LAURA,)         1   1   1   0   1   1   1   1   0    0    0    0    0    0
(THERESA,)       0   1   1   1   1   1   1   1   1    0    0    0    0    0
(BRENDA,)        1   0   1   1   1   1   1   1   0    0    0    0    0    0
(CHARLOTTE,)     0   0   1   1   1   0   1   0   0    0    0    0    0    0
(FRANCES,)       0   0   1   0   1   1   0   1   0    0    0    0    0    0
(ELEANOR,)       0   0   0   0   1   1   1   1   0    0    0    0    0    0
(PEARL,)         0   0   0   0   0   1   0   1   1    0    0    0    0    0
(RUTH,)          0   0   0   0   1   0   1   1   1    0    0    0    0    0
(VERNE,)         0   0   0   0   0   0   1   1   1    0    0    1    0    0
(MYRNA,)         0   0   0   0   0   0   0   1   1    1    0    1    0    0
(KATHERINE,)     0   0   0   0   0   0   0   1   1    1    0    1    1    1
(SYLVIA,)        0   0   0   0   0   0   1   1   1    1    0    1    1    1
(NORA,)          0   0   0   0   0   1   1   0   1    1    1    1    1    1
(HELEN,)         0   0   0   0   0   0   1   1   0    1    1    1    1    1
(DOROTHY,)       0   0   0   0   0   0   0   1   1    1    0    1    0    0
(OLIVIA,)        0   0   0   0   0   0   0   0   1    0    1    0    0    0
(FLORA,)         0   0   0   0   0   0   0   0   1    0    1    0    0    0

#